<!--Produc Detail View-->
<div class="container product-detail mt-5 mb-5">
    <div *ngIf="product" class="card shadow p-4">
      <img [src]="product.imageUrl" class="card-img-top w-50 mx-auto" alt="{{ product.name }}">
      <div class="card-body text-center">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <h4 class="text-success">${{ product.price }}</h4>
        <a class="btn btn-secondary mt-3" routerLink="/products">Back to Products</a>
      </div>
    </div>
  </div>
  