/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .card {
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  

  .product-detail img {
    max-height: 300px;
    object-fit: contain;
  }